!!!
%html
  %head
    %title Instagram Rails
    = csrf_meta_tags
    %meta{charset: 'utf8'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    '//fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:600|Roboto'
    = stylesheet_link_tag    '//unpkg.com/flickity@2/dist/flickity.min.css'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js'

  %body{class: controller_name}
    = render 'flash_messages'
    = yield
